DOCS_PATH = /docs
REDOCS_PATH = /redocs

GITHUB_ACCESS_TOKEN = 

DISCORD_REDIRECT_URI = 
DISCORD_CLIENT_ID = 
DISCORD_CLIENT_SECRET = 

JWT_SECRET = 
JWT_ALGORITHM = HS256
OWNER_EMAILS = 

ADMIN_AUTH = 

POSTGRES_HOST = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_PORT = 
POSTGRES_DB = 

